body {
  font-family: 'Titillium Web', sans-serif;
  /*color: rgb(255, 85, 85);*/
  color: black;
  background-color: rgb(244, 147, 54);
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

.holder{
  max-width: p60px;
  margin: 0 auto;
}

main {
  color: rgb(21, 21, 21);
}

.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}



header {
  height: 150px;
  /* ajusta la altura según sea necesario */
  background-color: rgb(21, 21, 21);
  color: white;
  font-family: 'Play', sans-serif;
  display: flex;
  justify-content: center;
  /* centra horizontalmente los elementos */
  align-items: center;
  /* centra verticalmente los elementos */
  position: relative;
  /* permite posicionar el rectángulo */
}

.circuloParaLogoBlanco {
  position: relative;
  width: 150px;
  height: 100%;
  border-radius: 50%;
  background-color:#fffffffe;
  overflow: hidden;
}

.circuloParaLogoNegro {
  position: relative;
  width: 150px;
  height: 100%;
  border-radius: 50%;
  background-color: rgb(21, 21, 21);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circuloParaLogoBlanco img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-49%, -50%);
  max-width: 100%;
  max-height: 100%;
}

.rectanguloParaLogo {
  position: absolute;
  top: 50%;
  left: calc(50% - 150px);
  /* mitad del ancho del círculo */
  width: 300px;
  height: 75px;
  /* la mitad de la altura del header */
  background-color: white;
}

span {
  color: white;
  font-size: 50px;
}


footer {
  background-color: #ccc;
  clear: both;
  color: #333;
  text-align: center;
  padding: 5px 0;
  margin-top: 20px;
  
}